# Assessment Problem
Write a Python script that processes sensor data from a zip file (`sensor_data_2025.zip`). The script should:
1. Extract data from nested city zip files (e.g., `munich_data.zip`, `tokyo_data.zip`), reading ``readings.csv`` and `station_info.json` from each.
2. Add a `city` column to each DataFrame with the city's name.
3. Combine the data into two main DataFrames: one for readings and one for station info.
4. Merge these two DataFrames on `station_id`.
5. Clean the merged data by keeping only `active` stations and removing rows with missing `temperature_celsius` or `pm2_5`.
6. Calculate the average temperature and PM2.5 for each city.
7. Save the city summary as a CSV file named `city_summary_report.csv` with columns `city`, `average_temperature`, and `average_pm2_5`.

## TASK 1: Load and combine data

Go through each city's zip file, read the `readings.csv` and `station_info.json` files, add a 'city' column to each DataFrame, and combine them into `all_readings_df` and `all_station_info_df`.

**Reasoning**:
TASK 1 requires extracting data from nested zip files, processing them, and combining them into two dataframes. This involves using the zipfile library and pandas for data manipulation.

In [43]:
#unzip the files
import zipfile
def unzip(filename):
    with zipfile.ZipFile(filename,'r') as zf:
        inner_list=zf.namelist()
        zf.extractall()
        return inner_list
inner_list=unzip("sensor_data_2025.zip")
for file in inner_list:
    unzip(file)

#reading city zip file
import pandas as pd
reading=pd.read_csv("readings.csv")
station_info=pd.read_json("station_info.json")
reading
station_info

,station_id,location,status,deployment_year
0,1011,"{'latitude': -33.807421, 'longitude': 151.130746}",active,2022
1,1012,"{'latitude': -33.863872, 'longitude': 151.151055}",active,2023
2,1013,"{'latitude': -33.876501, 'longitude': 151.137366}",active,2018
3,1014,"{'latitude': -33.865011, 'longitude': 151.180531}",active,2020
4,1015,"{'latitude': -33.812949, 'longitude': 151.165912}",maintenance,2021

## TASK 2: Merge dataframes

Merge the `all_readings_df` and `all_station_info_df` into a single DataFrame using the `station_id` column.

**Reasoning**:
Merge the two dataframes `all_readings_df` and `all_station_info_df` on the `station_id` column and display the head of the resulting dataframe to verify the merge.

In [ ]:
# WRITE YOUR CODE HERE

## TASK 3: Clean data

Filter the merged DataFrame to keep only 'active' stations and remove rows with missing values in 'temperature_celsius' or 'pm2_5'.

**Reasoning**:
Filter the merged dataframe to keep only active stations and remove rows with missing values in the specified columns.

In [1]:
# WRITE YOUR CODE HERE

## TASK 4: Analyze data

Calculate the average 'temperature_celsius' and 'pm2_5' for each city.

**Reasoning**:
Calculate the mean temperature and PM2.5 for each city by grouping the cleaned_df by city and applying the mean aggregation. Then display the head of the resulting dataframe.

In [2]:
# WRITE YOUR CODE HERE

## TASK 5: Save report

Save the city summary as a CSV file named `city_summary_report.csv` with the specified columns.

**Reasoning**:
Reset the index, rename the city column, and save the city summary DataFrame to a CSV file.

In [3]:
# WRITE YOUR CODE HERE